<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blackjack!</title>
</head>
<link rel="stylesheet" href="/css/app.css">
<body>
	<h2>Play Blackjack</h2>
	
	{{#deck.deckIsEmpty}}
	<form method="post" action="/deal">
		<button id="button">DEAL</button>
	</form>
	{{/deck.deckIsEmpty}}

	<br>
	<br>

	<div class="stack">
		Dealer Cards:
		<ul>
			{{#deck.dealerCards}}
			<li>{{ value }} Of {{ suit }}</li> {{/deck.dealerCards}}
		</ul>
	</div>
	
	<br>
	<br>

	<div class="stack">
		Your Cards:
		<ul>
			{{#deck.playerCards}}
			<li>{{ value }} Of {{ suit }}</li> {{/deck.playerCards}}
		</ul>
	</div>

</body>
</html>