<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blackjack!</title>
</head>
<link rel="stylesheet" href="/css/app.css">
<body>
	<h2>Play Blackjack</h2>

	{{^blackjack.gameOn}}
	<form method="post" action="/deal">
		<button id="button">DEAL</button>
	</form>
	{{/blackjack.gameOn}}

	<br>
	<br>

	<div class="stack">
		Dealer Cards:
		<ul>
			{{#blackjack.dealerCards}}
			<li>{{ value }} Of {{ suit }}</li> {{/blackjack.dealerCards}}
		</ul>
	</div>

	<br>
	<br>

	<div class="stack">
		Your Cards:
		<ul>
			{{#blackjack.playerCards}}
			<li>{{ value }} Of {{ suit }}</li> {{/blackjack.playerCards}}
		</ul>
	</div>
	
	<br>
	<br>
	
	{{^blackjack.deckIsEmpty}}
	<form method="post" action="/hit">
		<button id="button">HIT</button>
	</form>
	{{/blackjack.deckIsEmpty}}

	<br>
	<br> {{^blackjack.deckIsEmpty}}
	<form method="post" action="/stay">
		<button id="button">STAY</button>
	</form>
	{{/blackjack.deckIsEmpty}}


</body>
</html>