<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/app.css">
<head>
<meta charset="UTF-8">
<title>Blackjack</title>
</head>
<body>

	<h1>Play Blackjack!</h1>
	
	{{#game.isNotEnoughFunds}}
		Can't make that bet! 
	{{/game.isNotEnoughFunds}}
	
	{{#game.getBet}}
		<div>
			You Bet: ${{ game.getBet }}
		</div>
	{{/game.getBet}}
	
	<div>
		Your Wallet has: ${{ game.wallet.getMoney }}
	</div>

	<h2>Dealer Hand</h2>

	{{^game.isGameOn}}
	
		{{#game.getHandPositionOne}}
		<ul>
			<li>{{ face }} of {{ suit }} and ???</li> 
		</ul>
		{{/game.getHandPositionOne}}
		
	{{/game.isGameOn}}

	{{#game.isGameOn}}
	
		{{#game.getHouseHand.hand}}
		<ul>
			<li>{{ face }} of {{ suit }}</li>
		</ul>
		<div></div>
		{{/game.getHouseHand.hand}}

		<div>Dealer Total is: {{ game.getHouseTotal }}</div>
	{{/game.isGameOn}}

	<br>

	<h2>Player Hand</h2>

	{{#game.getPlayerHand.hand}}
	<ul>
		<li>{{ face }} of {{ suit }}</li>
	</ul>
	{{/game.getPlayerHand.hand}}

	<div>Player Total is: {{ game.getPlayerTotal }}</div>

	<br>
	<br>
	
	{{#game.isPlayerWins}}
		<div id = "message">
			You Won!
		</div>
	{{/game.isPlayerWins}}
	
	{{#game.isHouseWins}}
		<div id = "message">
			You Lost :(
		</div>
	{{/game.isHouseWins}}
	
	{{^game.isGameOver}} 
		<table>
			<tr>
				<td>
					<form method="post" action="/hit">
						<button id="button">HIT</button>
					</form>
				</td>
				<td>
					<form method="post" action="/stay">
						<button id="button">STAY</button>
					</form>
				</td>
			</tr>
		</table>
	{{/game.isGameOver}} 

	<br>
	<br>
	
	{{#game.isGameOver}} 
	<form method="post" action="/newgame">
		<button id="button">PLAY AGAIN</button>
	</form>
	{{/game.isGameOver}}

</body>
</html>